<% provide(:title, "#{current_user.username.possessive} Projects") %>
<div class="container pt-5">
  <% if current_user.projects.empty? %>
    <div class="jumbotron">
      <h1 class="display-3">Hi, #{current_user.username}</h1>
      <p class="lead">Welcome to BDA Explorer</p>
      <hr class="my-4"/>
      <p>To get started create a new project.</p>
      <p class="lead">
        <%= link_to 'New Project', new_project_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  <% else %>
    <h2><%= current_user.username.possessive %> Projects</h2>
    <hr/>
    <ul>
      <% current_user.projects.each do |project| %>
        <li>
          <p>
            <%= link_to project.stream_name, project %>
          </p>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
