<% provide(:title, 'New Affiliation') %>
<div class="container pt-5">
  <h2>New Affiliation</h2>
  <p class="text-muted">Enter New Affiliation details</p>
  <hr>
  <%= render partial: 'form' %>
</div>