<div class="container">
  <div class="d-flex align-items-center wrap h-100">
    <%= image_tag(organization.logo, class: 'affiliation-logo-list-sm') if organization.logo.attached? %>
    <h5 class="organization-list-display"><%=link_to(organization.name, organization_path(organization), :style=> 'color: gray;')%> </h5>
    <span class="invisible">x</span>
    <% if @project%>
      <% role = @project.affiliations.find_by(project_id: @project.id, organization_id: organization.id).role %>
      <div class="badge-pill-text"><span class="badge badge-pill badge-success"><%=role%></span></div>
    <% else %>
      <% role = organization.affiliations.find_by(organization_id: organization.id, project_id: project_id).role %>
      <div class="badge-pill-text"><span class="badge badge-pill badge-success"><%=role%></span></div>
    <% end %>
  </div>
</div>