<% provide(:title, 'New Project') %>
<div class="container">
      <h2 class="pt-5">New Project</h2>
      <p class="text-muted">Add new project information</p>
      <hr/>
      <%= render partial: 'form' %>
</div>