.col-xl-4.mb-3
  .card.h-100
    .card-body.shadow
      .row
        .col
          %h4.card-title.text-uppercase.text-muted.text-left.mb-0
            = title
          %p.h1.font-weight-bold.text-left.mb-0= value
        .col-auto
          .card-icon.material-symbols-outlined.text-white.rounded-circle.shadow= ligature
      %p.mt-3.mb-0.text-muted.text-sm.text-left
        %span.text-wrap= text
