<div class="col-xl-4 col-lg-6 pt-2">
  <div class="card card-stats mb-4 mb-xl-0">
    <div class="card-body">
      <div class="row">
        <div class="col h-100">
          <h4 class="card-title text-uppercase text-muted text-left mb-0"><%= title %></h5>
          <p class="h1 font-weight-bold text-left mb-0"><%= value %></p>
        </div>
        <div class="col-auto">
          <div class="icon-card icon-card-shape bg-success text-white rounded-circle shadow">
            <i class= "<%=icon%>"></i>
          </div>
        </div>
      </div>
      <p class="mt-3 mb-0 text-muted text-sm text-left">
        <span class="text-wrap"><%= text %></span>
      </p>
    </div>
  </div>
</div>