<%= image_tag 'banner.jpg', class: 'img-fluid' %>

<div class="container">
    <h4 class="display-4 mt-5">Welcome</h4>
    <hr>
    <p>The use of structures designed to mimmic the form and function of natural beaver dams is increasingly being applied to the restoration of wetland environments throughout Oregon. Often referred to as <a href="https://www.researchgate.net/publication/261215514_Using_Beaver_Dams_to_Restore_Incised_Stream_Ecosystems">Beaver Dam Analogs</a>, these structures take a variety of forms, and can be used to encourage a variety of biological, hydrologic, and geomorphic processes as part of riparian and channel enhancement projects.
</p>
<h4>BDA Explorer</h4>
<p>The BDA Explorer site was set up to encourage communication among restoration practitioners using beaver dam analog (BDA) type restoration techniques. The site allows users to enter basic project information making it available to visitors of the site. As more projects are added the site will act as a database of beaver based restoration projects in OR, and will ideally be used to track project outcomes</p>
<h4 class="display-4 mt-5">Using the Site</h4>
<hr>
<p>Below you will find answers to frequently asked questions related to the use of the BDA Explorer website. However, if you have additional questions please don't hesitate to <a href="#">send us a message. </a></p>
<h3>Frequently Asked Questions</h3>
<h4 class="pt-2 text-muted">Do I need to create a user account?</h4>
<p>Not necessarily. Any user can browse the site and view project information. You only need to create a user account if you are interested in adding your project to the website.</p>
<h4 class="pt-2 text-muted">I'm having problems with my user account?</h4>
<p>If you are having trouble with yuor username or password just <a href="#">send us a message</a> with your name and email and the site adminstrator will follow up shortly.</p>
<h4 class="pt-2 text-muted">How do I enter project locations coordinates?</h4>
<p>Project coordinates should be entered in decimal degrees, and ideally include up to six decimal places of accuracy. i.e. 44.123456, -120.123456.</p>
</div>