<%= image_tag 'banner.jpg', class: 'img-fluid' %>

<div class="container">
    <h4 class="display-4 mt-5">Welcome</h4>
    <hr>
    <p>Beaver have long been recognized as a fundamental component of hydrologic, geomorphic, and biotic processes within aquatic systems, and their propensity to build dams alters stream and riparian structure and function to the benefit of an array of aquatic and terrestrial species. The use of beaver dam analogs (BDAs) or structures designed to mimic the form and function of natural beaver dams is increasingly being embraced by restoration practitioners as a cost-effective means to restore stream and riparian function. This site was established to document BDA project locations and facilitate communication among restoration practitioners regarding project outcomes and lessons learned.
</p>
<h4>BDA Explorer</h4>
<p>The BDA Explorer site was set up to encourage communication among restoration practitioners using beaver dam analog (BDA) type restoration techniques. The site allows users to enter basic project information making it available to visitors of the site. As more projects are added the site will act as a database of beaver based restoration projects in OR and will make tracking project outcomes accessible to a wide audience.</p>
<h4 class="display-4 mt-5">Using the Site</h4>
<hr>
<p>Below you will find answers to frequently asked questions related to the use of the BDA Explorer website. However, if you have additional questions please don't hesitate to <a href="#">send us a message. </a></p>
<h3>Frequently Asked Questions</h3>
<h4 class="pt-2 text-muted">Do I need to create a user account?</h4>
<p>Not necessarily. Any user can browse the site and view project information. You only need to create a user account if you are interested in adding your project to the website.</p>
<h4 class="pt-2 text-muted">How do I enter project locations coordinates?</h4>
entered
</div>