- provide(:title, 'About')
.banner= image_tag 'bridge_banner.jpg'
.px-5
  %h1.display-4.text-center Low-Tech Process-Based Restoration
  %p
    This is a showcase of projects to encourage communication among restoration practitioners utilizing Low-Tech Processes-Based restoration practices to restore riverscape health. Low-tech process-based restoration focuses on the use of structural elements that mimic the form and function of beaver dams (i.e., beaver dam analogs, BDAs) and woody debris accumulations (i.e., post assisted log structures, PALS). The restoration approach involves the strategic introduction of these structural elements using a design intended to amplify natural hydrologic, geomorphic, and biological processes that accelerate stream recovery trajectories. Fundamentally, the approach follows the tenants of process – based restoration outlined by (Beechie et al. 2010) tenants of ecological restoration proposed by Palmer et al. (2005) and its extension as Low – Tech Process – Based Restoration (LT-PBR) by Wheaton et al. (2019) that emphasized the use of structural treatments that can be built by hand.
  %p
    %a{href: "https://academic.oup.com/bioscience/article/60/3/209/257006"} Low-Tech Processes-Based Restoration
  %p
    %a{href: "https://academic.oup.com/bioscience/article/60/3/209/257006"} Beechie et al. 2010
  %p
    %a{href: "https://doi.org/10.1111/j.1365-2664.2005.01004.x"} Palmer et al. 2005
  %p
    %a{href: "http://lowtechpbr.restoration.usu.edu/manual/"} Wheaton et al. 2019
  %h2 Please post your projects and the affiliated organizations!
  %h4
    = mail_to 'nick.weber@anabranchsolutions.com', '✉️ Contact us'
    for assistance.
