<% provide(:title, 'Project Map') %>
<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col">
      <h2>BDA Projects</h2>
    </div>
    <div class="col text-right">
      <%= link_to 'List View', projects_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>

<div class="container" id="master-map-container">
  <div class="rounded border border-secondary" id="master-map"></div>
</div>
