<% provide(:title, 'Project Map') %>
    <div class="col text-right" id="list-view-button">
      <%= link_to 'List View', projects_path, class: "btn btn-secondary" %>
    </div>
<div id="master-map"></div>