<div class="jumbotron jumbotron-fluid bg-light" id="about-header-container">
  <div class="d-flex align-content-end flex-wrap">
    <h5 class="display-4 align-left" id="about-header"><%=header%></h5>
    
    <p class="lead"><%=subtitle%></p>
    <hr>
  </div>
</div>