
// Variables & Mixins

$green: #30A64A;
$danger-red: #CA242D;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


// Forms

input, textarea, select {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  padding-left: 5px;
}

input {
  height: auto !important;
}

input[type="checkbox"] {
  margin: 4px 0 10px 0;
  box-shadow: none !important;
}

.form-checkbox {
  width: 25px;
  float: left;
}

.remember-me {
  margin-bottom: 10px;
}

.confirm-btn {
  width: 200px;
  color: white;
  background-color: $green;
  font-weight: 400;
}

.confirm-btn-wide {
  width: 350px;
  color: white;
  background-color: $green;
  font-weight: 400;
}

.danger-btn {
  width: 200px;
  color: white;
  background-color: $danger-red;
  font-weight: 400;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}