
// Variables & Mixins

$green: #30A64A;
$danger-red: #CA242D;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Layout

body {
  margin-bottom: 25px;
}

// Nav

nav {
  margin-bottom: 15px;
}

.navbar-nav > li {
  margin-left: 20px;
}

.new-project-btn:hover {
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
}

// Forms

input, textarea, select {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  padding-left: 5px;
}

input {
  height: auto !important;
}

input[type="checkbox"] {
  margin: 4px 0 10px 0;
  box-shadow: none !important;
}

.form-checkbox {
  width: 25px;
  float: left;
}

.remember-me {
  margin-bottom: 10px;
}

.confirm-btn {
  width: 200px;
  color: white;
  background-color: $green;
  font-weight: 400;
}

.confirm-btn-wide {
  width: 350px;
  color: white;
  background-color: $green;
  font-weight: 400;
}

.btn-width-md {
  width: 200px;
}

.devise-links-btn {
  max-width: 200px;
  color: white;
  background-color: #B1B1B1;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// Flash messages

.alert {
  text-align: left;
  li {
    list-style: none;
  }
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;

 }

.alert-alert {
  padding: 0;
  margin: 15px;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  ul {
    margin-top: 12px;
  }
  .close {
    margin-top: 10px;
    margin-right: 15px;
  }
 }

.alert-success {
  padding: 0;
  margin: 15px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  ul {
    margin-top: 12px;
  }
  .close {
    margin-top: 10px;
    margin-right: 15px;
  }
 }

.alert-notice {
  padding: 0;
  margin: 15px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  ul {
    margin-top: 12px;
  }
  .close {
    margin-top: 10px;
    margin-right: 15px;
  }
 }
