<% provide(:title, 'Edit Organization') %>
<div class="container pt-5">
  <h2>Edit Organization</h2>
  <p class="text-muted">Update organization details</p>
  <hr>
  <%= render partial: 'form' %>
</div>