<% provide(:title, 'New Organization') %>
<div class="container pt-5">
  <h2>New Organization</h2>
  <p class="text-muted">Enter New Organization details</p>
  <hr>
  <%= render partial: 'form' %>
</div>