%footer
  © 2024 Riverscapes Consortium. All rights reserved. Source available on
  = succeed '.' do
    = link_to 'GitHub', Rails.application.credentials.constants&.repository_url
  Questions?
  = succeed '.' do
    = mail_to Rails.application.credentials.constants&.contact_email_address, 'Contact us'
