<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> mt-4">
    <a class='close' data-dismiss='alert' href='#'>x</a>
      <ul>
        <li><%= value %></li>
    </ul>
  </div>
<% end %>  