%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => '#'} BDAdb
    .navbar-right
      %ul.nav.navbar-nav
        %li.navbar-text{:href => '#'} Log In
        %li
          %button.btn.btn-outline-primary.navbar-btn Get Started